---
import { getCollection } from "astro:content";
import Bubble from "../../components/Bubble.astro";
import BubbleContainer from "../../components/BubbleContainer.astro";
import Item from "../../components/Item.astro";
import Link from "../../components/Link.astro";
import Photo from "../../components/Photo.astro";
import Layout from "../../layouts/Layout.astro";
const notes = await getCollection("notes");
console.log(notes);
---

<Layout title="Notes">
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>Notes</p>
      </Bubble>
      {
        notes
          .sort((a, b) => Date.parse(b.data.data) - Date.parse(a.data.data))
          .map((note) => {
            return (
              <Bubble>
                <p>
                  <Link
                    href={`/notes/${note.data.titolo
                      .toLowerCase()
                      .replace(/\s/g, "-")}`}
                    text={note.data.titolo}
                    blank={false}
                  />
                </p>
              </Bubble>
            );
          })
      }
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble seen={true}>
        <p>
          Go <Link href="/" blank={false} text="back" />
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
