---
import Bubble from "../components/Bubble.astro";
import BubbleContainer from "../components/BubbleContainer.astro";
import Item from "../components/Item.astro";
import Link from "../components/Link.astro";
import Photo from "../components/Photo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matteo Tagliatti">
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>
          Hey I'm Matteo! A web developer and designer based in Milan, Italy
        </p>
      </Bubble>
      <Bubble>
        <p>
          Currently working as leader frontend developer and designer at
          <Link
            href="https://www.linkedin.com/in/matteotagliatti/"
            text="TI3"
          />, creating industry software
        </p>
      </Bubble>
      <Bubble>
        <p>
          Experiment on my own in my
          <Link href="https://github.com/matteotagliatti" text="GitHub" />. I
          also love reading, lifting weights, music, cooking and traveling
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>GitHub</p>
      </Bubble>
      <Bubble>
        <p>
          <Link href="https://github.com/matteotagliatti/bklst" text="bklst" />.
          A simple book tracking app made with SvelteKit and Supabase
        </p>
      </Bubble>
      <Bubble>
        <p>
          <Link
            href="https://github.com/matteotagliatti/astro-music-player"
            text="Music Player"
          />. Made with Astro, Tailwind, React, Spotify API and ViewTransition
          API
        </p>
      </Bubble>
      <Bubble>
        <p>
          <Link
            href="https://github.com/matteotagliatti/dilla-drums"
            text="Dilla Drums"
          />. React app with a drumpad to play drums
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>
          What I <Link href="/music" blank={false} text="listen" /> and <Link
            href="/books"
            blank={false}
            text="read"
          />
        </p>
      </Bubble>
      <Bubble seen={true}>
        <p>
          Say hi on <Link
            href="https://www.instagram.com/matteotagliatti/"
            text="instagram"
          /> or via <Link
            href="mailto:matteotagliatti@gmail.com"
            text="email"
          />
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
