---
import Bubble from "../components/Bubble.astro";
import BubbleContainer from "../components/BubbleContainer.astro";
import Item from "../components/Item.astro";
import Link from "../components/Link.astro";
import Photo from "../components/Photo.astro";
import Text from "../components/Text.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matteo Tagliatti">
  <!-- Title -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <Text>
          Hey I'm Matteo! A web developer and designer based in Milan, Italy
        </Text>
      </Bubble>
      <Bubble>
        <Text>
          Currently working as leader frontend developer and designer at
          <Link href="https://www.linkedin.com/in/matteotagliatti/">TI3</Link>,
          creating industry software.
        </Text>
      </Bubble>
      <Bubble>
        <Text>
          Experiment on my own in my
          <Link href="https://github.com/matteotagliatti">GitHub</Link>. I also
          love reading, lifting weights, music, cooking and traveling
        </Text>
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Works -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <Text>GitHub</Text>
      </Bubble>
      <Bubble href="https://github.com/matteotagliatti/bklst">
        <Text>
          <Link>bklst</Link>. A simple book tracker
        </Text>
      </Bubble>
      <Bubble href="https://github.com/matteotagliatti/bklst">
        <Text>
          <Link>Music Player</Link>. Made with Astro, Tailwind, React, Spotify
          API and ViewTransition API
        </Text>
      </Bubble>
      <Bubble href="https://github.com/matteotagliatti/kindle-clippings-parser">
        <Text>
          <Link>Kindle Clippings Parser</Link>. Node.js CLI tool to manage
          Kindle clippings
        </Text>
      </Bubble>
      <Bubble href="https://github.com/matteotagliatti/arcade-games">
        <Text>
          <Link>Arcade Games</Link>. Made with Vanilla JS and Jekyll
        </Text>
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Other -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <Text>
          My most listened songs <Link href="/music" blank={false}>here</Link>
        </Text>
      </Bubble>
      <Bubble>
        <Text>
          Reading, read and to read books <Link href="/books" blank={false}>
            here
          </Link>
        </Text>
      </Bubble>
      <Bubble>
        <Text>
          Movie watchlist <Link href="https://letterboxd.com/matteotagliatti/">
            here
          </Link>
        </Text>
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Footer -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <Text>
          Say hello on
          <Link href="https://www.instagram.com/matteotagliatti/">
            Instagram
          </Link> or <Link href="mailto:matteotagliatti@gmail.com">email</Link>
        </Text>
        <p class="absolute left-0 top-[45px] text-[13px] text-neutral-500">
          Seen
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
