---
import Layout from "../layouts/Layout.astro";
import Item from "../components/Item.astro";
import Photo from "../components/Photo.astro";
import BubbleContainer from "../components/BubbleContainer.astro";
import Bubble from "../components/Bubble.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import { getCurrentPlaying } from "../api/spotify";

const data = await getCurrentPlaying();
let listening = null;

// if data is a track
if (data.currently_playing_type === "track") {
  listening = {
    name: data.item.name,
    artist: data.item.artists[0].name,
    url: data.item.external_urls.spotify,
  };
}
---

<Layout title="Matteo Tagliatti">
  <!-- Title -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <Text>
          Hey I'm Matteo! A web developer and designer based in Milan, Italy
        </Text>
      </Bubble>
      <Bubble>
        <Text>
          Currently working as leader frontend developer and designer at <Link
            href="#"
          >
            TI3
          </Link>
        </Text>
      </Bubble>
      <Bubble>
        <Text>
          Experiment on my own in my
          <Link href="https://github.com/matteotagliatti">GitHub</Link>. I also
          love reading, CrossFit, music and traveling
        </Text>
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Works -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <Link href="https://github.com/matteotagliatti">GitHub</Link>
      </Bubble>
      <Bubble>
        <Text>
          <Link href="#">bklst</Link>. A simple book tracker made with different
          frontend frameworks
        </Text>
      </Bubble>
      <Bubble>
        <Text>
          <Link href="#">Kindle Clippings Parser</Link>. Node.js CLI tool to
          manage Kindle clippings
        </Text>
      </Bubble>
      <Bubble>
        <Text>
          <Link href="#">Arcade Games</Link>. Made with Vanilla JS and Jekyll
        </Text>
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Other -->
  <Item>
    <Photo />
    <BubbleContainer>
      <!-- Spotify -->
      <Bubble>
        {
          listening && (
            <Text>
              Currently listening{" "}
              <Link href={listening.url}>
                {listening.name} by {listening.artist}
              </Link>
            </Text>
          )
        }
        {!listening && <Text>I'm not listening to anything right now</Text>}
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Footer -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <Text>
          Say hello on
          <Link href="#">Twitter</Link> or <Link
            href="mailto:matteotagliatti@gmail.com"
          >
            email
          </Link>
        </Text>
        <p class="absolute left-0 top-12 text-[13px] text-neutral-500">Seen</p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
