---
import Bubble from "../components/Bubble.astro";
import BubbleContainer from "../components/BubbleContainer.astro";
import Item from "../components/Item.astro";
import Link from "../components/Link.astro";
import Photo from "../components/Photo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matteo Tagliatti">
  <!-- Title -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>
          Hey I'm Matteo! A web developer and designer based in Milan, Italy
        </p>
      </Bubble>
      <Bubble>
        <p>
          Currently working as leader frontend developer and designer at
          <Link
            href="https://www.linkedin.com/in/matteotagliatti/"
            text="TI3"
          />, creating industry software.
        </p>
      </Bubble>
      <Bubble>
        <p>
          Experiment on my own in my
          <Link href="https://github.com/matteotagliatti" text="GitHub" />. I
          also love reading, lifting weights, music, cooking and traveling
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Works -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>GitHub</p>
      </Bubble>
      <Bubble>
        <p>
          <Link href="https://github.com/matteotagliatti/bklst" text="bklst" />.
          A simple book tracker
        </p>
      </Bubble>
      <Bubble>
        <p>
          <Link
            href="https://github.com/matteotagliatti/astro-music-player"
            text="Music Player"
          />. Made with Astro, Tailwind, React, Spotify API and ViewTransition
          API
        </p>
      </Bubble>
      <Bubble>
        <p>
          <Link
            href="https://github.com/matteotagliatti/astro-music-player"
            text="Arcade Games"
          />. Made with Jekyll and Vanilla JavaScript.
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Other -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>
          My most listened <Link href="/music" blank={false} text="songs" />
        </p>
      </Bubble>
      <Bubble>
        <p>
          Reading, read and to read <Link
            href="/books"
            blank={false}
            text="books"
          />
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
  <!-- Footer -->
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>
          Say hello via <Link
            href="mailto:matteotagliatti@gmail.com"
            text="mail"
          />
        </p>
        <p class="absolute left-0 top-[45px] text-[13px] text-neutral-500">
          Seen
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
