---
import Layout from "../layouts/Layout.astro";
import photo from "../images/photo.jpg";
---

<Layout title="Matteo Tagliatti">
  <div class="flex gap-2.5 justify-center items-end">
    <img class="rounded-full w-6" src={photo} alt="photo" />
    <h1 class="font-bold text-white">Prova</h1>
  </div>
</Layout>
