---
export interface LinkProps {
  href?: string;
}

const { href } = Astro.props;
const classes =
  "py-2 px-3 rounded-ss-2xl rounded-se-2xl rounded-es-lg rounded-ee-2xl bg-bubble border border-white/[.03]";
---

{
  href ? (
    <a
      href={href}
      class={`${classes} hover:cursor-pointer hover:translate-x-1 transition-all`}
      target="_blank"
    >
      <slot />
    </a>
  ) : (
    <div class={`${classes} relative`}>
      <slot />
    </div>
  )
}
