---
export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="opacity-100 font-medium underline hover:cursor-pointer"
  target="_blank"
>
  <slot />
</a>
