---
export interface Props {
  href: string;
  blank?: boolean;
}

const { href, blank = true } = Astro.props;
const classes = "text-white font-medium underline";
---

<a
  href={href}
  class={`${classes} hover:cursor-pointer`}
  target={blank ? "_blank" : null}
>
  <slot />
</a>
